<main>
  <div class="mt-40 text-center text-error">
    <h1>
      <i class="far fa-exclamation-triangle"></i> 
      Cancelled by user!
    </h1>
  </div>
  <div class="mt-40 text-center">
    <div class="mt-20 text-center text-secondary border-placeholder">
      Add details about the cancelled payment here!
    </div>
  </div>
</main>